.footers{
    color: white;
    background-color: #162241;
}
.fa-4x{
    color: rgb(102, 150, 221);
}
.notbookrow{
    height: 25rem;
}
.fa-calendar-alt{
    color: #162241;
}
.htow{
    color: rgb(208, 66, 0);
}
.fa-check-circle{
    color: rgb(71, 255, 78);
}